In [5]:
# merge - pandas function to merge dataframes
import pandas as pd

df1 = pd.read_excel('names.xlsx',sheet_name='Sheet1')

df2 = pd.read_excel('names.xlsx',sheet_name='Sheet2')

#print(df1)

#print(df2)

df3 = pd.merge(df1,df2,on='department') # equi join
print(df3)

  name  age department departmentname
0  tom   21        CSE       Computer
1  raj   20        ECE    Electronics
2  pat   21         IT    Information
3  joe   21       MECH     Mechanical

In [6]:
df3 = pd.merge(df1,df2,on='department',how='left') # left join
print(df3)

   name  age department departmentname
0   tom   21        CSE       Computer
1   raj   20        ECE    Electronics
2   pat   21         IT    Information
3   joe   21       MECH     Mechanical
4  mahi   20        EEE            NaN

In [7]:
df3 = pd.merge(df1,df2,on='department',how='right') # right join
print(df3)

  name   age department departmentname
0  tom  21.0        CSE       Computer
1  raj  20.0        ECE    Electronics
2  pat  21.0         IT    Information
3  joe  21.0       MECH     Mechanical
4  NaN   NaN       CHEM       Chemical

In [8]:
df3 = pd.merge(df1,df2,on='department',how='outer') # outer join
print(df3)

   name   age department departmentname
0   tom  21.0        CSE       Computer
1   raj  20.0        ECE    Electronics
2   pat  21.0         IT    Information
3   joe  21.0       MECH     Mechanical
4  mahi  20.0        EEE            NaN
5   NaN   NaN       CHEM       Chemical