In [1]:
# sorting lists
"""Example for sort"""

list1 = [79,134,56,10,9,613,84,95,472,861,720,49,516,65]

print("before sorting:",list1)

list1.sort()

print("after sorting:",list1)

before sorting: [79, 134, 56, 10, 9, 613, 84, 95, 472, 861, 720, 49, 516, 65]
after sorting: [9, 10, 49, 56, 65, 79, 84, 95, 134, 472, 516, 613, 720, 861]

In [3]:
list1 = [79,134,56,10,9,613,84,95,472,861,720,49,516,65]
print("before sorting:",list1)

list2 = sorted(list1)

print("after sorting:",list1)
print("after sorting:",list2)

before sorting: [79, 134, 56, 10, 9, 613, 84, 95, 472, 861, 720, 49, 516, 65]
after sorting: [79, 134, 56, 10, 9, 613, 84, 95, 472, 861, 720, 49, 516, 65]
after sorting: [9, 10, 49, 56, 65, 79, 84, 95, 134, 472, 516, 613, 720, 861]

In [4]:
# sorting lists
"""Example for sort - reverse order"""

list1 = [79,134,56,10,9,613,84,95,472,861,720,49,516,65]

print("before sorting:",list1)

list1.sort(reverse=True)

print("after sorting:",list1)

before sorting: [79, 134, 56, 10, 9, 613, 84, 95, 472, 861, 720, 49, 516, 65]
after sorting: [861, 720, 613, 516, 472, 134, 95, 84, 79, 65, 56, 49, 10, 9]

In [5]:
"""Example for sorted - reverse order"""

list1 = [79,134,56,10,9,613,84,95,472,861,720,49,516,65]

print("before sorting:",list1)

list2 = sorted(list1,reverse=True)

print("after sorting:",list1)
print("after sorting:",list2)

before sorting: [79, 134, 56, 10, 9, 613, 84, 95, 472, 861, 720, 49, 516, 65]
after sorting: [79, 134, 56, 10, 9, 613, 84, 95, 472, 861, 720, 49, 516, 65]
after sorting: [861, 720, 613, 516, 472, 134, 95, 84, 79, 65, 56, 49, 10, 9]

In [11]:
"""sorting elements of different data type"""
hello = 100

list1 = [79,134,35,56,10,28,9,613,84,95,hello,472,386,861,251,720,49,'world',516,65]

print("before sorting:",list1)

#list1.sort() # results in error because of elements have different data type

list1.sort(key=str) # for element in list1: element = str(element)

print("after sorting:",list1)

before sorting: [79, 134, 35, 56, 10, 28, 9, 613, 84, 95, 100, 472, 386, 861, 251, 720, 49, 'world', 516, 65]
after sorting: [10, 100, 134, 251, 28, 35, 386, 472, 49, 516, 56, 613, 65, 720, 79, 84, 861, 9, 95, 'world']

In [8]:
num = 100

print(type(num))

num = str(num)

print(type(num))

<class 'int'>
<class 'str'>