In [2]:
"""Dictionary examples"""

d1 = {} # creating an empty dictionary

d1 = {'name':'alice','age':7,'class':'first'}

print(d1)

# access a value against a specific key.
print(d1['age']) # the output will be 7

{'name': 'alice', 'age': 7, 'class': 'first'}
7

In [3]:
# repeating a key is not an error, the last pair of key and value will overwrite the previous one
d1 = {'name':'alice','age':7,'class':'first','name':'bob'} # the value for the key 'name' will be bob
print(d1)

{'name': 'bob', 'age': 7, 'class': 'first'}

In [5]:

d1 = {'name':'alice','age':7,'class':'first'}

print(d1)

#dictionary values can be updated by simple assignment
d1['age']=10

# updates the value against the key, if key is present otherwise the key is created
print(d1)
d1['name']='bob'
print(d1)

{'name': 'alice', 'age': 7, 'class': 'first'}
{'name': 'alice', 'age': 10, 'class': 'first'}
{'name': 'bob', 'age': 10, 'class': 'first'}

In [6]:
d1 = {'name':'alice','age':7,'class':'first'}

print(d1)

d1['lname']='joe'

print(d1)

#d1 = {'lname':'joe'}

{'name': 'alice', 'age': 7, 'class': 'first'}
{'name': 'alice', 'age': 7, 'class': 'first', 'lname': 'joe'}